.festival {
  padding: 40px 40px 80px;
}

@media (max-width: 768px) {
  .festival {
    padding: 20px;
  }
}








/* тест скролла */
@media (max-width: 360px) {
  .festival {
    background-color: black;
  }
}





