.catalog__control-panel {
  background-color: #FCFAF7;
  width: 1070px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
  align-items: center;
}
