.catalog__control-panel {
  background-color: #FCFAF7;
  max-width: 1070px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
  align-items: center;
  column-gap: 8px;
}

@media screen and (max-width: 768px) {
  .catalog__control-panel {
    padding: 12px 20px;
  }
}
