.choise-city{
  background-color: #FFFFFF;
  box-shadow: 0px 4px 12px 0px #3B37481F;
  box-sizing: border-box;
  padding: 24px 0;
  border-radius: 24px;
}


@media screen and (max-width: 1024px) {
  .choise-city{
    background-color: #fcfaf7;
    display: flex;
    max-height: 720px;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
  }
}
