.hedonism__man-violet {
  background-image: url(../../../images/man-violet.svg);
  background-size: cover;
  width: 219px;
  height: 217px;
  position: absolute;
  z-index: 1;
  top: 33px;
  left: 255px;
}

@media screen and (max-width: 360px) {
  .hedonism__man-violet {
    width: 156px;
    height: 155px;
    top: 352px;
    left: 9px;
  }
}
