.button {
  display: flex;
  align-items: center;
  padding: 0 24px 0;
  border-radius: 26px;
  min-height: 48px;
  cursor: pointer;
}

@media screen and (max-width:1090px){
  .button_type_vanish {
      display: none;
  }
}
