.popup__sum-amount{
  margin: 16px auto 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (max-width:768px){
  .popup__sum-amount{
    margin-bottom: 34px;
    max-width: 320px;
  }
}
