.hedonism__logo {
  margin: 260px auto 110px;
  max-width: 247px;
  min-height: 230px;
  z-index: 2;
}

@media screen and (max-width: 360px) {
  .hedonism__logo {
    margin: 171px auto 255px;
    max-width: 210px;
    min-height: 152px;
  }
}
