@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.rotation:hover  {
  animation: rotation 2s infinite linear;
}

@media screen and (max-width: 768px) {
  .rotation:hover  {
    animation: rotation 0s infinite linear;
  }
}
