.hedonism__arc_left {
  top: 198px;
  left: 100px;
}

@media screen and (max-width: 1024px) {
  .hedonism__arc_left {
    transform: rotate(-11.23deg);
    top: 143px;
    left: -28px;
    width: 81px;
    height: 111px;
  }
}
