.participators__grid-logo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 120px));
  gap: 24px;
}
@media (max-width: 767px) {
  .participators__grid-logo {
    grid-template-columns: repeat(8, max-content);
    grid-template-rows: 170px;
    overflow: hidden;
  }
}
