.input__pseudo-el_checked {
  color: #FCFAF7;
  background-color: #7100FF;
  border-radius: 26px;
  padding: 12px 24px;
  background-image: url('../../../../images/check-mark-white.svg');
  background-position: right 24px center;
  background-repeat: no-repeat;
  border-color: transparent;
  cursor: auto;
}

@media (max-width: 768px){
  .input__pseudo-el_checked {
    padding: 12px 20px;
    background-image: url('../../../../images/icons/check-mark-white-mobile.svg');
    background-position: right 20px center;
  }
}
