.popup__yellow-line {
  background-color: rgba(255, 212, 0, 1);
  min-height: 36px;
  vertical-align: middle;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 40px;
}


@media (max-width: 767px) {
  .popup__yellow-line {
    margin-bottom: 20px;
    padding-left: 20px;
    min-height: 8%;
  }
}
