.hedonism__man-green {
  background-image: url(../../../images/man-green.svg);
  background-size: cover;
  width: 417px;
  height: 265px;
  position: absolute;
  bottom: 146px;
  left: 87px;
  transform: rotate(-0.77deg);
}

@media screen and (max-width: 1024px) {
  .hedonism__man-green {
    left: -50px;
    transform: rotate(0.77deg);
    width: 280px;
    bottom: 69px;
  }
}

@media screen and (max-width: 768px) {
  .hedonism__man-green {
    width: 293px;
    height: 203px;
  }
}

@media screen and (max-width: 360px) {
  .hedonism__man-green {
    bottom: 488px;
    left: 8px;
  }
}
