.participators {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .participators {
    max-width: 90%;
    background-color: rgba(235, 233, 237, 1);
  }
}
