.hedonism__musical-note-violet_right {
  bottom: 177px;
  right: 39px;
}

@media screen and (max-width: 1024px) {
  .hedonism__musical-note-violet_right {
    width: 43px;
    height: 39px;
    bottom: 262px;
    right: 129px;
    transform: rotate(-2.77deg);
  }
}
