.fest-images__grid {
  display: grid;
  grid-template-rows: repeat(3, 0.3fr);
  grid-template-columns: repeat(4, 0.3fr);
  grid-template-areas:
  "nature beuty beuty ."
  ". beuty beuty cock"
  "img streetart . .";
  row-gap: 30px;
  column-gap: 40px;
  margin-top: 40px;
}
@media (max-width: 767px) {
    .fest-images__grid {
      display:block;
      margin-top: 20px;

    }
  }
