.btn {
  box-sizing: border-box;
  display: flex;
  gap: 8px; /* тогда не нужен элемент arrow и любые другие для паддинга*/
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border: none;
  text-decoration: none;
  border-radius: 26px;
  min-height: 40px;
  cursor: pointer;
}
.popup__name {
  display:inline;
  padding-right: 70%;
}
.popup__name:nth-last-of-type(2) {
  padding-right: 0%;
}
.popup__row {
  height: 48px;
}
@media (max-width: 768px){
  .popup__row {
    height: 36px;
  }
}
@media (max-width: 500px){
  .popup__name {
    padding-right: 63%;
  }
}
@media (max-width: 413px){
  .popup__name {
    padding-right: 55%;
  }
}
.btn:disabled {
  color: #96949E;
  background-color: #FFFFFF;
  /* border-color: transparent; */
  border: 2px solid #96949E;
  /* background-color: #FFFFFF; */
  cursor: default;
}

.btn:disabled:hover {
  color: #96949E;
  background-color: #EBE9ED;
  border-color: transparent;
  cursor: default;
}

@media (max-width: 768px){
  .btn {
    padding: 12px 20px;
    gap: 4px;
  }
}
