.btn__minus{
  background-image: url('../../../images/btn-minus.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 22px 0px 0px 22px;
  cursor: pointer;
}
