.about__button {
width: 204px;
height: 48px;
border-radius: 26px;
font-size: 18px;
border: 2px, solid, red;
}

@media screen and (max-width: 360px) {
  .about__button {
  margin-top: 10px;
  width: 179px;
  height: 44px;
  font-size: 16px;
  line-height: 20px;
  }
}
