.membership__fieldset-column_type_many-input {
  position: relative;
  /* margin-top: 20px; */
  gap: 0;
  /* gap: 20px; */
}

@media (max-width: 768px) {
  .membership__fieldset-column_type_many-input {
    margin-top: 20px;
    /* padding-bottom: 12px; */
    padding-bottom: 4px;
  }
}
