.fest-images__image {
  box-sizing: content-box;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  .fest-images__image {
    display: none;
    min-width: 320px;
    min-height: 320px;
  }
}