.participators__item {
  background-color: transparent;
  object-fit: contain;
  max-width: 170px;
  opacity: 40%;
}
.participators__item:last-of-type {
  margin-right: 0;
}
@media (max-width: 767px) {
  .participators__item {
    opacity: 100%;
  }
}
