.membership__popup {
  background-color: #FCFAF7;
  min-height: 460px;
  display: none;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}

@media (max-width: 768px) {
  .membership__popup {
    margin-top: 0;
  }
}
