.membership__popup {
  /* если делать через fixed, не появится scroll, если содержимое не влезет на экран (моб. версия) */
  /* position: fixed;
  top: 176px;
  left: 0;
  width: 100vw;
  height: 100vh; */
  background-color: #FCFAF7;

  display: none;
  justify-content: center;
  /* align-items: flex-start; */
  visibility: hidden;
  opacity: 0;
  /* плавный эффект красивее, но в момент закрытия окно скачет вниз, так как расположено не фиксированно */
  /* transition: visibility .3s, opacity .3s linear; */
}

@media (max-width: 863px) {
  .membership__popup {
    /* top: 272px; */
  }
}

@media (max-width: 768px) {
  .membership__popup {
    /* top: 0; */
    margin-top: 0;
  }
}
