.footer {
    display: grid;
    grid-template-columns: min-content minmax(min-content, 310px) minmax(min-content, 427px) minmax(min-content, 310px);
    gap: 40px;
    padding: 80px 40px;
    background-color: #EBE9ED;
    justify-content: center;
    box-sizing: border-box;
}

@media screen and (max-width:1280px) {
    .footer {
        grid-template-columns: repeat(auto-fit, minmax(min-content, 310px));
    }
}


@media screen and (max-width:760px) {
    .footer {
        background-color: #FFD400;
        grid-template-columns: repeat(auto-fit, minmax(min-content, 320px));
        row-gap: 58px;
        padding: 40px 20px;
    }
}
