.hedonism__musical-note-single-reverse {
  background-image: url(../../../images/musical-note-single-reverse.svg);
  background-size: cover;
  width: 38px;
  height: 41px;
  position: absolute;
  top: 72px;
  left: 563px;
}

@media screen and (max-width: 360px) {
  .hedonism__musical-note-single-reverse {
    width: 25px;
    height: 28px;
    top: 188px;
    left: 310px;
  }
}
