.hedonism__musical-note-single-reverse {
  background-image: url(../../../images/musical-note-single-reverse.svg);
  background-size: cover;
  width: 31px;
  height: 36px;
  position: absolute;
  z-index: 1;
  top: 76px;
  left: 563px;
}

@media screen and (max-width: 360px) {
  .hedonism__musical-note-single-reverse {
    width: 21px;
    height: 24px;
    top: 271px;
    left: 13px;
  }
}
