.round-card {
  display: flex;
  flex-direction: column;
  width: 480px;
  min-height: 480px;
  position: relative;
  /* background: url('../../images/circle-yellow.svg') center / contain no-repeat; */
}

/* @media (max-width: 1090px) {
  .round-card {
    max-width: 543px;
    min-width: 320px;
    min-height: 420px;
  }
}

@media (max-width: 900px) {
  .round-card {
    min-height: 380px;
  }
}

@media (max-width: 800px) {
  .round-card {
    min-height: 340px;
  }
} */

@media (max-width: 767.98px) {
  .round-card {
    /* width: 100%; */
    max-width: 320px;
    min-height: 320px;
  }
}
