.popup__burger-menu-navigation-link{
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #3B3748;
  padding: 12px 20px;
  font-family: "TT Firs Neue";
  width: 100%;
  text-decoration: none;
}
