.card__like {
  position: absolute;
  top: 11px;
  right: 10px;
  width: 44px;
  height: 44px;
  background-image: url('../../../images/card-like.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: #FCFAF7;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .card__like {
    top: 7px;
    right: 8px;
  }
}
