.hedonism__squiggle {
  background-image: url(../../../images/squiggle.svg);
  background-size: cover;
  width: 127px;
  height: 112px;
  position: absolute;
  top: 279px;
  right: 360px;
}

@media screen and (max-width: 1280px) {
  .hedonism__squiggle {
    top: 260px;
    right: -31px;
    width: 117px;
    height: 83px;
    transform: rotate(-75.77deg);
  }
}
