.popup__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FCFAF7;
  box-shadow: 0px 4px 12px 0px #3B37481F;
  border-radius: 24px;
  max-height: 780px;
  width: 100%;
  /* max-width: 612px; */
  box-sizing: border-box;
  margin: 108px auto 0;
  /* padding: 40px; */
  overflow-y: scroll;
  padding-bottom: 20px;
}

@media screen  and (min-width:768px){
  .popup__container{
    max-height: 808px;
    padding-bottom: 40px;
    max-width: 612px;
    margin: 108px auto 0;
    margin: 110px auto 0;
  }
}
