.popup__email-input-inactive{
  margin: 16px auto 32px;
  max-width: 532px;
  border: 2px solid var(--dark-secondary, #96949E);
  color: #96949E;
  padding: 12px 24px;
}

@media screen  and (max-width:768px){
  .popup__email-input-inactive{
    max-width: 320px;
    margin: 10px auto 32px;
  }
}
