.popup__inactive-input_email{
  margin: 16px auto 32px;
  max-width: 532px;
  border: 2px solid var(--dark-secondary, #96949E);
  color: #96949E;
  padding: 12px 24px;
}

@media screen  and (max-width:768px){
  .popup__inactive-input_email{
    max-width: 320px;
  }
}
