.choise-city__button-back{
  display: none;
}

@media screen and (max-width: 1024px) {
  .choise-city__button-back{
    display: block;
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    gap: 8px;
    padding: 10px 0;
  }
}
