.catalog-filters__filter-block {
  padding: 16px 40px;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 16px;
}
@media (max-width: 768px) {
  .catalog-filters__filter-block {
    padding: 16px 20px 16px 0;
  }
}