.fest-images__image_box1 {
  grid-area: nature;
}
.buttondiv {
  text-align: center;
  margin-top: 12px;
  visibility: hidden;
}
button {
  margin-right: 12px;
  cursor:cell;
}
@media (max-width: 767px) {
  .buttondiv {
    visibility: visible;
  }
}