.hedonism__musical-note-yellow {
  background-image: url(../../../images/musical-note-yellow.svg);
  background-size: cover;
  width: 55px;
  height: 48px;
  position: absolute;
  z-index: 1;
  top: 225px;
  right: 61px;
}
