.hedonism__musical-note-yellow {
  background-image: url(../../../images/musical-note-yellow.svg);
  background-size: cover;
  width: 55px;
  height: 48px;
  position: absolute;
  top: 225px;
  right: 61px;
}

@media screen and (max-width: 360px) {
  .hedonism__musical-note-yellow {
    visibility: hidden;
  }
}
