.hedonism__musical-note-yellow {
  background-image: url(../../../images/musical-note-yellow.svg);
  background-size: cover;
  width: 59px;
  height: 50px;
  position: absolute;
  top: 222px;
  right: 56px;
}

@media screen and (max-width: 360px) {
  .hedonism__musical-note-yellow {
    visibility: hidden;
  }
}
