/* использование CSS-переменных - https://www.w3.org/TR/css-variables/ */
/* пример использования переменной */
/* .some-selector {
  color: var(--color-primary);
} */

:root {
  /* ЦВЕТА */
  --dark-primary: #3B3748;
  --dark-secondary: #96949E;
  --light-secondary: #EBE9ED;
  --light-primary: #FCFAF7;
  --white: #FFF;
  --color-primary: #7100FF;
  --hover: #5100B8;
  --color-accident: #FFD400;
  --warning-error: #F40934;
  --green: #00B998;
  scroll-behavior: smooth;
}


.ui-kit {
  /* outline: 2px solid var(--warning-error); */
  max-width: 1440px;
  min-width: 360px;
  padding: 40px;
}
