.header__menu-icon{
  display: none;
  border: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.header__menu-icon:hover{
  opacity: 0.5;
  transition: all 0.5s ease 0s;
}

@media screen and (max-width:1024px){
  .header__menu-icon{
      display: block;
  }
}
