.fest-images__text {
  font-family: "TT Firs Neue", sans-serif;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  color: rgba(59, 55, 72, 1);
  margin: 0 0 24px 0;
}
@media (max-width: 767px) {
  .fest-images__text {
    font-size: 32px;
    line-height: 36px;
  }
}
