.hedonism__arc {
  background-image: url(../../../images/arc-yellow.svg);
  background-size: cover;
  width: 90px;
  height: 169px;
  position: absolute;
}


@media screen and (max-width: 360px) {
  .hedonism__arc {
    width: 84px;
    height: 100px;
  }
}
