.membership__pseudo-el_type_circle {
  justify-content: flex-start;
  padding: 12px 32px;

  background-image: url('../../../../images/icons/radio.svg');
  background-position: left center;
  background-repeat: no-repeat;
}

@media (max-width: 768px){
  .membership__pseudo-el_type_circle {
    padding: 12px 24px;
    background-image: url('../../../../images/icons/radio-mobile.svg');
  }
}
