.hedonism__musical-note-single {
  background-image: url(../../../images/musical-note-single.svg);
  background-size: cover;
  width: 31px;
  height: 36px;
  position: absolute;
  /* z-index: 1; */
  z-index: 0;
}
