.popup__sum-input {
  clip-path: inset(0 0 0 0);
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.popup__sum-input:checked + .popup__input-element{
  background-color: #7100FF;
  color: #fcfaf7;
  border: none;
}
