.catalog__map-container {
  width: 1070px;
  height: 600px;
}

@media (max-width: 1070px) {
  .catalog__map-container {
    max-width: 500px;
  }
}
@media (max-width: 500px) {
  .catalog__map-container {
    max-width: 360px;
  }
}
