.hedonism__man-red {
  background-image: url(../../../images/man-red.svg);
  background-size: cover;
  width: 256px;
  height: 291px;
  position: absolute;
  bottom: 39px;
  right: 174px;
}

@media screen and (max-width: 1024px) {
  .hedonism__man-red {
    right: 0px;
    bottom: 115px;
    width: 160px;
    height: 170px;
  }
}

@media screen and (max-width: 360px) {
  .hedonism__man-red {
    width: 166px;
    height: 190px;
    bottom: 100px;
    right: 22px;
  }
}
